.skills-circle{
    height: 500px;
    width: 500px;

    display: grid;
    margin: 150px auto;
    grid-template-columns: 1fr 1fr;

}

.skill{
    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

.skill:hover{
    cursor: pointer;
    transform: scale(1.5);
}