.skills-circle{
    height: 500px;
    width: 500px;

    display: grid;
    margin: 150px auto;
    grid-template-columns: 1fr 1fr;

}

.skill{
    background-color: lightskyblue;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

.skill:hover{
    cursor: pointer;
    transform: scale(1.5);
    font-size: 20px;
}

.dev-pop-up{
    background-color: whitesmoke;
    padding: 15px;
    font-family: 'Abril Fatface', cursive;

    font-family: 'Amatic SC', cursive;

    font-family: 'Changa', sans-serif;

    font-family: 'Luxurious Roman', cursive;

    font-family: 'Sedgwick Ave', cursive;

    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    color: darkred;
    border-radius: 20%;
}

.skills-list-pop{
    list-style-type: none;
}