.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-image: url('/src/backgrounds/home.jpg');*/
    /*background-size: 100% 100%;*/
    /*background-repeat: no-repeat;*/
    /*!*background-position: left top;*!*/
    /*background-position: top ;*/
    background: white;
    height: 900px;

}


.name{
    font-family:'Allan';
    font-size: 150px;
    color: black;
    margin-bottom: 100px;
}



.job{
    font-size: 80px;
    /*width: 500px;*/
    font-family: "Gill Sans MT Ext Condensed Bold";
    color: darkslategray;
    margin-bottom: 100px;
}


@media(max-width: 600px){
    .name{
        font-size: 80px;
    }
    .job{
        font-size: 60px;
    }
}
